@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  background-color: #f4e6d4;
  color: #4a3526;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
